@font-face {
    font-family: font1;
    src: url(../fonts/CinzelDecorative-Regular.ttf);
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: url(../images/bg.png);
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;

}

/* Colors */
.bg-black {
    background-color: #000000;
}

.bg-gray {
    background-color: #333333;
}

.text-gold {
    color: #d4af37;
    font-family: cambria;
    word-spacing: 10px;
    letter-spacing: -2px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 
                0 0 2px orange,
                0 0 5px brown,
                0 0 10px sienna,
                0 2px 15px black;

}
.text-gold1 {
    color: #d4af37;
    font-family: cambria;
    word-spacing: 10px;
    letter-spacing: -2px;
    font-weight: 700;
   

}

.btn-gold {
    background-color: #d4af37;
    color: #000000;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-gold:hover {
    background-color: #b7950b;
    color: #ffffff;
}

/* Navbar */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 10;
}

.nav-link {
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #d4af37;
}

/* Home Section */
.home-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('images/home-bg.jpg') center/cover no-repeat;
}

.home-section h1 span {
    color: #d4af37;
}



/* --------------------------------------------------------------
|                   PORTFOLIO                                   |
----------------------------------------------------------------*/
.portfolio-section {
        background-color: #33333345;
}
.skills-section, .contact-section {
        background-color: #0000007b;
}
.portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.portfolio-item img {
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}


/* --------------------------------------------------------------
|                             IMAGE GALLERY                     |
----------------------------------------------------------------*/


.gallery-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.112);
}

.scroll-gallery {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
    
}

.scroll-gallery img {
    height: 100px;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    opacity: 0.6;
    
}

.scroll-gallery img:hover {
    transform: scale(1.5);
    opacity: 1;
    z-index: 100 !important;
    
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    height: 100px;

}


.left-button {
    left: 0;
    z-index: 1000;
}

.right-button {
    right: 0;
    z-index: 1000;
}

.scroll-button:hover {
    background-color: rgb(66, 65, 59);
  
}

/* Track */
.scroll-gallery::-webkit-scrollbar {
    background: #1e1c1c !important; /* Background color of the scrollbar track */
    border-radius: 10px;
    
}

/* Handle */
.scroll-gallery::-webkit-scrollbar-thumb {
    background-color: #32322f; /* Color of the scrollbar handle */
    border-radius: 10px;
    border: 2px solid #4c4949; /* Space between track and handle */
    
}

/* Handle on hover */
.scroll-gallery::-webkit-scrollbar-thumb:hover {
    background-color: #b8860b; /* Darker color on hover */
    
}


/* --------------------------------------------------------------
|                             MODAL GALLERY                     |
----------------------------------------------------------------*/






.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 30%;
    animation: zoomIn 0.5s;

}

.modal-content img {
    height: auto;
    
  }
  

@keyframes zoomIn {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}
.caption {
    color: #ccc;
    font-size: 20px;
    padding: 5px 5px;
    text-align: center;
    

  }

.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #898989;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .modal-content {
      width: 100% !important;
      max-width: 90% !important;
      margin-top: 10% !important;
  
    }
  
    .modal-content img {
      max-width: 70% !important;
      height: auto !important;

      margin-bottom: 10px ;
    }
  
    .caption {
      font-size: 16px !important;
      
      text-align: center;
    
    }

    .close {
        position: absolute;
        top: 70px;
        right: 35px;
        color: #565656;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
        z-index: 1000;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .text-gold1 {
      text-align: center;
    
    }
  }




/* --------------------------------------------------------------
|                   ABOUT                                       |
----------------------------------------------------------------*/
.profile-pic {
width: 30%;
margin-left: 15%;
}
.profile-div {
    left: 245px !important; 
  
}
.about-div-text {
    padding-left: 2%;

}
.about-text {

    text-align: justify;
    color: rgb(197, 196, 196) !important;
    font-size: 18px;
}

/* Contact Section */
.contact-section input,
.contact-section textarea {
    background-color: #222222;
    border: 1px solid #444444;
    color: #ffffff;
}

.contact-section input::placeholder,
.contact-section textarea::placeholder {
    color: #777777;
}

/* Footer */
.footer {
    background-color: #000000;

}



/* General Styles for Shapes */
.shape {
    position: absolute;
    opacity: 0.8;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transform-origin: center;
    z-index: -1; /* Ensure shapes are behind the text */
}

/* Specific Shape Styles */
.triangle-top-left {
    top: 15%;
    left: 10%;
    width: 200px;
    height: 200px;
    background-color: #4d4c4a;
    transform: rotate(45deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.circle-top-left {
    top: 50%;
    left: 35%;
    width: 150px;
    height: 150px;
    background-color: #d4af37;
    clip-path: circle(50%);
}

.triangle-bottom-right {
    bottom: 20%;
    right: 15%;
    width: 250px;
    height: 250px;
    background-color: #684d3d;
    transform: rotate(-45deg);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.square-top-right {
    bottom: 30%;
    right: 30%;
    width: 150px;
    height: 150px;
    background-color: #4e4a3b;
    clip-path: polygon(50% at 50% 50%);
}

/* Responsive Design */
@media (max-width: 940px) {
    .profile-div {
        left: 20px !important;
        width: 35%;
        position: relative; 
    }
    .profile-pic {
        left: 40% !important;
        position: absolute;
    }

}
@media (max-width: 768px) {
    .shape {
        width: 100px;
        height: 100px;
    }

    .triangle-top-left {
        top: 10%;
        left: 5%;
    }

    .circle-top-left {
        top: 70%;
        left: 10%;
    }

    .triangle-bottom-right {
        bottom: 10%;
        right: 10%;
    }

    .square-top-right {
        bottom: 25%;
        right: 15%;
    }

    
    .profile-div {
        left: 150px !important;
        width: 55%; 
        position: relative;
    }
    .profile-pic {
        margin: 0 auto;
        position: static !important;
    }
    .navname {
        display: none;
    }

    
   



}

/* Animation on Scroll */
.scrolled .triangle-top-left, .scrolled .circle-top-left {
    transform: translate(-150%, -50%) rotate(45deg);
    opacity: 0;
}

.scrolled .triangle-bottom-right, .scrolled .square-top-right {
    transform: translate(150%, -50%) rotate(-45deg);
    opacity: 0;
}


/* Container for Shapes */
.shapes-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks through shapes */
    z-index: -1;
    overflow: hidden; /* Prevent the container from expanding */
}



/* SKILLS AND EXPERTISE */



.skills-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 90% !important; 
    max-width: 800px;  
    margin: 0 auto;
}

.skill {
    text-align: center;
}

.skill-name {
    font-size: .75vw;
    margin-bottom: 10px;
}

.progress-wheel {
    position: relative;
    display: inline-block;
    transform: rotate(90deg);
    margin-bottom: 5%;
}

.progress-wheel svg {
    transform: rotate(-90deg); /* Adjusts the starting point of the progress */
    margin-bottom: 5%;
}

.background {
    fill: none;
    stroke: #6e6666ea;
    stroke-width: 10;
}

.progress {
    fill: none;
    stroke: #e7a900;
    stroke-width: 10;
    stroke-dasharray: 282; /* Circumference of the circle */
    stroke-dashoffset: 282;
    transition: stroke-dashoffset 2s ease-in-out;

}

.percentage {
    font-size: 16px;
    text-anchor: middle; /* Centers text horizontally */
  /*  dominant-baseline: middle; /* Centers text vertically */
    fill: white;
    transform: rotate(0deg); /* Ensure text is not rotated */
}

@media screen and (max-width: 900px) {
    .background {background: green;}
    .skill-name {
        font-size: .55em !important;
        font-weight: 100;
        letter-spacing: 1px;
         }
      .skills-container{

          grid-template-columns: repeat(3, 1fr);
      } 

}